<div class="row">
    <fieldset>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="name">Name</label>
                <input data-ng-model="band.name" id="name" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-md-4 form-group">
                <label for="city">City</label>
                <input data-ng-model="band.city" id="city" type="text" class="form-control" placeholder="City">
            </div>
            <div class="col-md-4 form-group">
                <label for="year">Year</label>
                <input data-ng-model="band.year" id="year" type="text" class="form-control" placeholder="Year">
            </div>
        </div>
    </fieldset>
</div>
<div class="row">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>